* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar {
    padding: 20px;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.navbar__link {
    color: #fff;
    margin: 0 5px;    
}

.App {
    max-width: 800px;  
    width: 90%;  
}
.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border:  1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
    transform: translateX(0);
}
.post-exit-active {
    transform: translateX(-350px); 
    transition: all 500ms ease-in;
}
  
.page__wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 0 2px;
    cursor: pointer;
}

.page__current {
    background-color: gray;
    color: #fff;
}

